* {
	margin: 0;
	padding: 0;
}
html, body, header, footer, nav, ul, ol, li, h1, p {
	margin: 0;
	padding: 0;
	border: 0 none;
}
html, body {
	width: 100%;
	background-color: #E3E3E3;
	font-family: serif;
}
body {
	color: #555;
}
.Flexa {
	font-family: 'Ubuntu Condensed', sans-serif;
}
.Flexa-copy {
	color: #777;
	font-weight: normal;
}
header {
	width: 100%;
	height: 100px;
	background-color: #333;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
	z-index: 100;
}
header h1 {
	width: 980px;
	height: 100px;
	margin: 0 auto;
	padding: 0 22px;
	color: #FFF;
	line-height: 100px;
	font-size: 24px;
	text-align: left;
	font-weight: normal;
}
header h1 .Flexa {
	font-size: 60px;
}
#main {
	width: 980px;
	margin: 0 auto 44px;
	padding: 22px;
	overflow: hidden;
}
#main section {
	width: 676px;
	float: left;
}

.animation {
	list-style: none;
	position: relative;
	overflow: hidden;
	margin: 0 auto 22px;
	background-color: #FCFCFC;
	color: #333;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, .1);
}
.animation,
.animation li {
	width: 640px;
	height: 360px;
}

.animation .scene-1,
.animation .scene-2,
.animation .scene-3 {
	line-height: 360px;
	text-align: center;
	font-size: 40px;
}
.animation .scene-1 {
	background-color: #FF0066;
}
.animation .scene-2 {
	background-color: #00FF66;
}
.animation .scene-3 {
	background-color: #0066FF;
}

.gist {
	margin-bottom: 44px;
}

#main-nav {
	margin-left: 676px;
}

#main-nav ul {
	width: 200px;
	margin:0 0 0 auto;
	list-style: none;
	border-radius: 5px;
	overflow: hidden;
	background-color: #BBB;
	font-family: sans-serif;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2) inset;
}
#main-nav ul li {
	width: 100%;
	border-bottom: 1px solid #CCC;
}
#main-nav ul li:last-child {
	border-bottom: 0 none;
}
#main-nav ul li a {
	display: block;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	padding: 11px;
	color: #FFFFFF;
	text-decoration: none;
}

footer {
	position: fixed;
	z-index: 99999;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #444;
	background-image: -webkit-linear-gradient(top, #444, #111);
	background-image: linear-gradient(top, #444, #111);
}
footer #share-buttons {
	width: 980px;
	margin: 0 auto;
	height: 20px;
	padding: 22px;
	line-height: 20px;
}
#share-buttons .fb_iframe_widget {
	vertical-align: top;
}